<h1>All cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name,cocktail_path(cocktail)  %> <%= link_to "Remove",
                             cocktail_path(cocktail), method: :delete,
                             data: { confirm: "Are you sure?" }  %></li>
<% end %>

<%= link_to "Add", new_cocktail_path %>
